<!DOCTYPE html>
<html lang="tr">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="style.css" rel="stylesheet">
    </head>
    <body>
    
        <div class="fi-bg-greenyellow fi-layout-relative fi-height-400px" id="parent">abc
            <div class="fi-bg-yellow fi-height-100px fi-layout-absolute" style="top:400px;left:10px;z-index: 9999;">abc</div>
        </div>
        <div class="fi-bg-red">
            Diger<br>
            Yazı
        </div>
    </body>
</html>