.fi-bg-yellow{
    background-color: yellow;
}

.fi-bg-greenyellow{
    background-color: greenyellow;
}

.fi-bg-red{
    background-color: red;
}

.fi-bg-dodger{
    background-color: dodgerblue;
}

.fi-bg-lightskyblue{
    background-color: lightskyblue;
}

.fi-border-half{
    border: 0.5px solid;
}

.fi-border-1{
    border: 1px solid;
}

.fi-lay-relative {
    position: relative;
}

.fi-lay-absolute {
    position: absolute;
}

.fi-height-200 {
    height: 200px;
}

.fi-height-100 {
    height: 100px;
}

.fi-height-400 {
    height: 400px;
}

.fi-width-200 {
    width: 200px;
}

.fi-width-300 {
    width: 300px;
}

.fi-width-400 {
    width: 400px;
}

.fi-in-block {
    display: inline-block;
}

.fi-height-300 {
    height: 300px;
}

.fi-pos-fixed {
    position: fixed;
}